In [1]:
# import statements 
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [3]:
# connecting to dataset
file_Path="/Users/sathvikchava/my files/big data/cdc_diabetes_health_indicators.csv"
df=pd.read_csv(file_Path)

In [5]:
df.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Diabetes_binary
0,1,1,1,40,1,0,0,0,0,1,...,0,5,18,15,1,0,9,4,3,0
1,0,0,0,25,1,0,0,1,0,0,...,1,3,0,0,0,0,7,6,1,0
2,1,1,1,28,0,0,0,0,1,0,...,1,5,30,30,1,0,9,4,8,0
3,1,0,1,27,0,0,0,1,1,1,...,0,2,0,0,0,0,11,3,6,0
4,1,1,1,24,0,0,0,1,1,1,...,0,2,3,0,0,0,11,5,4,0

In [7]:
# Seperatng binary,non binary and numerical features features 

# Selecting columns with only 2 unique values
binary_Features= df.columns[(df.nunique() == 2)]
binary_Features

Index(['HighBP', 'HighChol', 'CholCheck', 'Smoker', 'Stroke',
       'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'DiffWalk', 'Sex',
       'Diabetes_binary'],
      dtype='object')

In [9]:
numerical_Features= ['BMI']
numerical_Features = pd.Index(numerical_Features)
numerical_Features

Index(['BMI'], dtype='object')

In [11]:
non_binary_Features=df.columns.difference(binary_Features.union(numerical_Features))
non_binary_Features

Index(['Age', 'Education', 'GenHlth', 'Income', 'MentHlth', 'PhysHlth'], dtype='object')

In [13]:
# Doing One-Hot encoding 
df=pd.get_dummies(df,columns=non_binary_Features,drop_first=True)

In [15]:
# feature scaling 
scaler=StandardScaler()
df[numerical_Features]=scaler.fit_transform(df[numerical_Features])

In [17]:
df.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,PhysHlth_21,PhysHlth_22,PhysHlth_23,PhysHlth_24,PhysHlth_25,PhysHlth_26,PhysHlth_27,PhysHlth_28,PhysHlth_29,PhysHlth_30
0,1,1,1,1.757936,1,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
1,0,0,0,-0.511806,1,0,0,1,0,0,...,False,False,False,False,False,False,False,False,False,False
2,1,1,1,-0.057858,0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,False,True
3,1,0,1,-0.209174,0,0,0,1,1,1,...,False,False,False,False,False,False,False,False,False,False
4,1,1,1,-0.663122,0,0,0,1,1,1,...,False,False,False,False,False,False,False,False,False,False

In [19]:
df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})

/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    1
253678    0
253679    0
Name: Age_2, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Age_3, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Age_4, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    1
253676    0
253677    0
253678    0
253679    0
Name: Age_5, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Age_6, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         1
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    1
253679    0
Name: Age_7, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Age_8, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         1
1         0
2         1
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    1
Name: Age_9, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Age_10, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         1
4         1
         ..
253675    0
253676    1
253677    0
253678    0
253679    0
Name: Age_11, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Age_12, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Age_13, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    1
253677    0
253678    0
253679    0
Name: Education_2, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         1
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Education_3, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         1
1         0
2         1
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Education_4, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         1
         ..
253675    0
253676    0
253677    1
253678    1
253679    0
Name: Education_5, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         1
2         0
3         0
4         0
         ..
253675    1
253676    0
253677    0
253678    0
253679    1
Name: Education_6, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         1
4         1
         ..
253675    0
253676    0
253677    0
253678    0
253679    1
Name: GenHlth_2, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         1
2         0
3         0
4         0
         ..
253675    1
253676    0
253677    0
253678    1
253679    0
Name: GenHlth_3, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    1
253677    0
253678    0
253679    0
Name: GenHlth_4, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         1
1         0
2         1
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: GenHlth_5, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    1
253678    0
253679    1
Name: Income_2, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         1
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Income_3, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         1
         ..
253675    0
253676    1
253677    0
253678    0
253679    0
Name: Income_4, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Income_5, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         1
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Income_6, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    1
253676    0
253677    0
253678    0
253679    0
Name: Income_7, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         1
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: Income_8, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: MentHlth_1, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: MentHlth_2, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         1
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: MentHlth_3, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: MentHlth_4, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: MentHlth_5, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: MentHlth_6, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: MentHlth_7, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: MentHlth_8, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})
/var/folders/5l/ylwbn_b1651806t5hwccfl1c0000gn/T/ipykernel_63580/3277120533.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         0
1         0
2         0
3         0
4         0
         ..
253675    0
253676    0
253677    0
253678    0
253679    0
Name: MentHlth_9, Length: 253680, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 6:] = df.iloc[:, 6:].replace({True: 1, False: 0})

In [21]:
df.to_csv('/Users/sathvikchava/my files/big data/Project files/Diabetes_Health_Indicators_cleanedData1.0.csv', index=False)

In [23]:
df.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,PhysHlth_21,PhysHlth_22,PhysHlth_23,PhysHlth_24,PhysHlth_25,PhysHlth_26,PhysHlth_27,PhysHlth_28,PhysHlth_29,PhysHlth_30
0,1,1,1,1.757936,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,-0.511806,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,-0.057858,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,1,-0.209174,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,-0.663122,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0